html::after {
  z-index: 20;
  content: "Default";
  right: 50px;
  position: fixed;
  top: 50px;
  color: white;
  background: rgba(0, 0, 0, 0.51);
  border-radius: 5px;
  padding: 5px;
  font-family: sans-serif;
  border: 1px dashed gray;
}

@media (max-width: $bp-laptop) {
  html::after {
    content: "Laptop";
    color: #c8d6ff;
  }
}

@media (max-width: $bp-tablet) {
  html::after {
    content: "Tablet";
    color: #95ff94;
  }
}

@media (max-width: $bp-phone) {
  html::after {
    content: "Phone";
    color: #ff2f23;
  }
}