html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.ib {
  display: inline-block;
  vertical-align: top;
}

.db {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.is-hidden {
  display: none;
}

.mw-container {
  max-width: $content-max-width;
  margin: auto;
  padding: 0.1px 40px;

  @include grid-media($bp-phone) {
    padding: 0.1px 10px;
  }
}

.bg-sprite {
  position: absolute;
  z-index: -1;
}

.slider-arrow {
  display: none;
  z-index: 1;
  position: absolute;
  cursor: pointer;

  &.slick-disabled {
    opacity: 0.3;
  }
}

.slick-slide:focus, input:focus, button:focus {
  outline: none;
}

//@if DEV
.test-outline {
  outline: 1px dashed palevioletred;
}

// @endif

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}