<% if (legacyBootstrap) { %>$icon-font-path: '../fonts/';
<% } %>// bower:scss
// endbower

<% if (includeBootstrap) { %>
/* Space out content a bit */
body {
  padding-top: <% if (legacyBootstrap) { %>20px<% } else { %>1.5rem<% } %>;
  padding-bottom: <% if (legacyBootstrap) { %>20px<% } else { %>1.5rem<% } %>;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: <% if (legacyBootstrap) { %>15px<% } else { %>1rem<% } %>;
  padding-left: <% if (legacyBootstrap) { %>15px<% } else { %>1rem<% } %>;
}

/* Custom page header */
.header {
  padding-bottom: <% if (legacyBootstrap) { %>20px<% } else { %>1rem<% } %>;
  border-bottom: <% if (legacyBootstrap) { %>1px<% } else { %>.05rem<% } %> solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: <% if (legacyBootstrap) { %>40px<% } else { %>3rem<% } %>;
}

/* Custom page footer */
.footer {
  padding-top: <% if (legacyBootstrap) { %>19px<% } else { %>1.5rem<% } %>;
  color: #777;
  border-top: <% if (legacyBootstrap) { %>1px<% } else { %>.05rem<% } %> solid #e5e5e5;
}

/* Customize container */
@media (min-width: <% if (legacyBootstrap) { %>768px<% } else { %>48em<% } %>) {
  .container {
    max-width: <% if (legacyBootstrap) { %>730px<% } else { %>46rem<% } %>;
  }
}
.container-narrow > hr {
  margin: <% if (legacyBootstrap) { %>30px<% } else { %>2rem<% } %> 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: <% if (legacyBootstrap) { %>1px<% } else { %>.05rem<% } %> solid #e5e5e5;
}
.jumbotron .btn {
  padding: <% if (legacyBootstrap) { %>14px 24px<% } else { %>.75rem 1.5rem<% } %>;
  font-size: <% if (legacyBootstrap) { %>21px<% } else { %>1.5rem<% } %>;
}

/* Supporting marketing content */
.marketing {
  margin: <% if (legacyBootstrap) { %>40px<% } else { %>3rem<% } %> 0;
}
.marketing p + h4 {
  margin-top: <% if (legacyBootstrap) { %>28px<% } else { %>1.5rem<% } %>;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: <% if (legacyBootstrap) { %>768px<% } else { %>48em<% } %>) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: <% if (legacyBootstrap) { %>30px<% } else { %>2rem<% } %>;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
<% } else { %>
@import "tools/sprite";
@import "tools/fonts";
@import "tools/variables";
@import "tools/reusable";

$slick-font-family: $open-sans;
$slick-loader-path: "../images/";
$slick-dot-size: 10px;
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";

@include sprites($spritesheet-sprites);

// Partials
@import "partials/header";

// Markup debug:
//@if DEV
// - Breakpoint indicator:
//@import "tools/breakpoint-indicator";
// - Outline all:
//* {
//  outline: 1px dashed red;
//}
//@endif

//partials
@import "partials/header";

body {
  //font-family: $open-sans;
  //color: #1a1a1a;
}

body > .content {
  flex: 1;
}
<% } -%>
